.TableContainer{
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px lightgray;
    padding: 0 0 0 5px;
    margin-top: 20px;
}

.isxnCU{
    justify-content: center !important;
}

.eUeqdG{
    font-size: 16px;
}